<app-template-a [title]="title" [subtitle]="subtitle">
  <app-form-orders *ngIf="order$ | async as order" [order]="order" (click)="openUpdateModal($event)"></app-form-orders>
</app-template-a>

<ng-template #updateOrderModal let-modal>
  <app-modal (dismissed)="dismissModal()">
    <div class="modal-body">
      Are you sure ?
    </div>
    <div class="modal-footer">
      <app-btn [action]="true" (clicked)="updateOrder(modalValues)" label="save"></app-btn>
    </div>
  </app-modal>
</ng-template>
