<app-template-a [title]="title" [subtitle]="subtitle">
  <app-form-orders *ngIf="order$ | async as order" [order]="order" (submitted)="openUpdateModal($event)">
  </app-form-orders>
</app-template-a>

<ng-template #updateOrderModal let-modal>
  <app-modal (dismissed)="dismissUpdateModal()">
    <div class="modal-body">Are you sure you want to edit?</div>
    <div class="modal-footer">
      <app-btn [action]="true" (clicked)="updateOrder(modalValues)" label="Confirm"></app-btn>
    </div>
  </app-modal>
</ng-template>
