@import "themes";
@import "fonts";

.table-dark {
  .state-cancel {
    background: $color-error;
  }

  .state-option {
    background: $color1;
  }

  .state-confirm {
    background: $color-success;
  }
}
