@import "themes";
@import "fonts";

fa-icon {
  text-align: center;
  margin-top: 30px;
  margin-left: 5px;
  cursor: pointer;
  justify-items: center;
}

:host {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  color: $color3;
  font-size: $regular-fz;
  margin-top: 15px;
}
